<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthenticodeExaminer" version="0.3.0" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="6.6.0" targetFramework="net48" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
</packages>